.App{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.title{

}

.content{
  display: flex;
  flex-direction: column;
  height: 170px;
  justify-content: space-around;
}
p{
  size: 30px;
}
span {
  background-color: rgb(84, 99, 175);
  border-radius: 50%;
}

button{
  border-radius: 50px;
  text:white;
  /* width: ; */
  background-color: rgb(88, 88, 247);
  /* border */
}